.main{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding:1rem;
    color: white;
    font-size: 2rem;
    position: sticky ;
    top:0;
    z-index: 999;
}
.link a{
    color:white;
    text-decoration: none;
}

.nav-container{
    display: flex;
    justify-content:space-evenly
}

.left
{
    display: flex;
    margin: 0 4rem 0 0;
}

.right{
    display: flex;
    justify-content:space-between;
}

.item{
    margin: 0 1rem;
}
