.container{
    width:60%;
    margin:auto auto;
}
.ppr
{
    width: 300px;
    height: 300px; 
    padding: 20px;
}

.filter{
    position: fixed;
    left: 100px;
    top:200px;
    text-align: center;

}

.txtfld{
    width: 100%;
    display: block;
    margin-bottom: 10px
}

.wrapper{
    display: flex;
    justify-content: flex-end;
}
